@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.active {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
}

.mobileMenu {
  display: none;
  margin-right: 10px;
  object-fit: cover;
  height: 2rem;
}

.mobileNavMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.navbar {
  /* background: #222831;  */
  /* linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%) */
  background: rgb(30, 30, 30);
  height: 5rem;
  width: 100vw;
  /* max-width: 75rem; */
  margin: 0 auto;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
  color: #EEEEEE;
  justify-self: start;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMenuItem {
  margin: 1rem;
  cursor: pointer;
}

.navMenuItem:hover{
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
}

.navMobileMenuItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
}

@media screen and (max-width: 720px) {
  .mobileNavMenu {
    display: flex;
  }
  .navMenu {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
}