.card {
    display: block;
    background-color: whitesmoke;
    border-style: ridge;
    border-width: 7px;
    color: white;
    padding: 2rem;
  }

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 70px;
}

#skill {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-title {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }

@media screen and (max-width: 480px) {
  img {
    height: 3rem;
  }
}
  