.card {
    display: block;
    background-color: #E3CCAE;
    border-style: ridge;
    border-width: 5px;
    color: white;
    padding: 2rem;
  }

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 50px;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  